.root{
    -fx-font-family: 'SF Pro Display';
}

.defaultBtn{
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 8px;
    -fx-font-size: 17px;
}

#rejectBtn{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-radius: 8px;
    -fx-font-size: 17px;
}

/*Admin Navigation Bar*/
#reportBtn:hover, #reportBtn:focused{
    -fx-graphic: url(img/analytics-hover.png);
}

#editBtn:hover, #editBtn:focused{
    -fx-graphic: url(img/settings-hover.png);
}

#bookingBtn:hover, #bookingBtn:focused{
    -fx-graphic: url(img/booking-hover.png);
}

#addUserBtn:hover, #addUserBtn:focused{
    -fx-graphic: url(img/add-user-hover.png);
}

#profileBtn:hover, #profileBtn:focused{
    -fx-graphic: url(img/user-hover.png);
}

#logoutBtn:hover, #logoutBtn:focused{
    -fx-graphic: url(img/logout-hover.png);
}

/*customer navigation buttons*/
#btnExplore:hover, #btnExplore:focused{
    -fx-graphic: url(img/explore.png);
}

#btnHistory:hover, #btnHistory:focused{
    -fx-graphic: url(img/order.png);
}

#btnProfile:hover, #btnProfile:focused{
    -fx-graphic: url(img/profile3.png);
}

#btnLogout:hover, #btnLogout:focused{
    -fx-graphic: url(img/logout-hover.png);
}

.btnMenu{
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-background-radius: 0px;
}

.btnMenu:hover, .btnMenu:focused, #reportBtn_menu:hover, #editBtn_menu:hover, #bookingBtn_menu:hover, #addUserBtn_menu:hover, #logoutBtn_menu:hover,
#reportBtn_menu:focused, #editBtn_menu:focused, #bookingBtn_menu:focused, #addUserBtn_menu:focused, #logoutBtn_menu:focused,
#bookingMenu:hover, #exploreMenu:hover, #logoutMenu:hover, #profileMenu:hover, #bookingMenu:focused, #exploreMenu:focused,
#logoutMenu:focused, #profileMenu:focused, #logoutMenu:hover, #logoutMenu:focused{
    -fx-background-color: #e7e3e3;
}

#logoutBtn_menu, #logoutMenu{
    -fx-background-radius: 0px 0px 24px 0px;
}

/*report*/
.reportVBox{
    -fx-border-color: #000000;
    -fx-border-width: 0px 1px 0px 0px;
}

/*Add edit car page*/
#addCarbtn:hover, #saveBtn:hover, #addBrandInfoBtn:hover,
#bookingCard:hover,#cusBookingInfo, #approveBtn:hover,
#rejectBtn:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0.0, 0.0);
}

.secondBtn,#deleteBtn, #returnBtn, #searchBtn,
#closeBtn, #editItemBtn, #bookingSearchBtn,
#exitBtn{
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}

.secondBtn:hover, #deleteBtn:hover, #returnBtn:hover, #uploadPhotoBtn:hover,
#searchBtn:hover, #closeBtn:hover, #editItemBtn:hover,
#bookingSearchBtn:hover{
    -fx-background-color: #f3f5f7;
}

#brandCmbMain,#modelCmbMain, #bookingSearchBar{
    -fx-background-color: white;
    -fx-border-radius: 8px;
    -fx-border-color: black;
}

#carItemHbox, #modelBrandHbox, #addeditMainTitle,
#modelTitleHbox, #brandTitleHbox{
    -fx-border-color: #f3f5f7;
    -fx-border-width: 0px 0px 1px 0px;
}

#carItemHbox:hover{
    -fx-border-width: 0px 0px 1.5px 0px;
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    -fx-background-color: #ffffff;
    /*-fx-page-information-visible: false;*/
    -fx-alignment: bottom-left;
}

/* actual button sizes */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: #ffffff, #ffffff;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #f3f5f7;
    -fx-border-radius: 2px;
    -fx-text-fill: #000000;
}

.infoText{
    -fx-text-fill: #000000;
    -fx-border-color: #dedede;
    -fx-border-radius: 8px;
    -fx-background-color: transparent;
}

#carinfogrid, #locationgrid, #carpicVbox, #uploadPhotoLbl{
    -fx-border-color: #dedede;
    -fx-border-radius: 8px;
}

#addbrandBtn:hover, #addbrandBtn:pressed, #addmodelBtn:hover, #addmodelBtn:pressed{
    -fx-graphic: url(img/add-hover.png);
}

#carinfoLbl, #locationLbl, #pictureLbl,
#addBrandLbl, #bookingLbl{
    -fx-background-color: transparent;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

#brandCmb, #modelCmb, #seatsCmb, #stateCmb, #userRoleCmb, #datePicker{
    -fx-text-fill: #000000;
    -fx-border-color: #dedede;
    -fx-border-radius: 8px;
    -fx-background-color: transparent;
}

#uploadPhotoBtn{
    -fx-background-color: #ffffff;
    -fx-font-size: 13px;
    -fx-border-radius: 0px;
    -fx-text-fill: #000000;
}

#addBrandInfoBtn{
    -fx-font-size: 14px;
}

#priceHint, #plateNumHint, #addressHint, #postCodeHint, #userRoleHint{
    -fx-text-fill: red;
    -fx-font-size: 9px;
}

.scrollBar > .viewport{
    -fx-background-color: transparent;
}

#addBrandScrollPane, #bookingScrollPane, #reportScrollPane{
    -fx-background-color: transparent;
}

/*Admin Booking Page*/
#pendingBtn,#ongoingBtn,#endedBtn{
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 8px;
}

#pendingBtn:hover,#ongoingBtn:hover,#endedBtn:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0.0, 0.0);
}

/*separator style*/
.separatorBlack *.line{
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 8;
    -fx-border-color: #000000;
}

.separatorGrey *.line{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8;
    -fx-border-color: #e5e5e5;
}

.separatorBlackSmall *.line{
    -fx-border-width: 1px;
    -fx-border-radius: 8;
    -fx-border-color: #000000;
}

/*login*/
/*on-focused: hide prompt-text*/
.txtPrompt{
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.txtPrompt:focused{
    -fx-prompt-text-fill: transparent;
}

/*hover: button effect*/
.btnHover:hover{
    -fx-opacity: 60%;
}

.btnLogin{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.btnLogin:hover{
    -fx-opacity: 87%;
}

#lblForgotPass:hover, #lblForgotPass:focused{
    -fx-font-weight: bold;
    -fx-underline: true;
}

/*date picker style*/
.date-picker{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 4;
    -fx-text-fill: #000000;
    -fx-cursor: default;
}

.date-picker .arrow-button {
    -fx-background-color: #000000;
    -fx-background-radius: 8;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #c2c2c2;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: #ffffff;
}

.date-picker .cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.date-picker .cell:hover,
.date-picker .cell:focused,
.date-picker .selected,
.date-picker .selected:focused{
    -fx-background-color: #000000;
    -fx-background-radius: 4px;
    -fx-text-fill: #ffffff;
}

.date-picker-popup  {
    -fx-border-color: transparent;
    -fx-background-radius: 4;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #000000;
    -fx-background-radius: 4;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #ffffff;
}

/*cus profile*/
#cmbState, #cmbState:disabled{
    -fx-opacity: 1.0;
    -fx-background-color: transparent;
    -fx-border-color: #c2c2c2;
    -fx-border-radius: 8px;
    -fx-prompt-text-fill: #000000;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

#cmbState .arrow, #cmbState .arrow-button {
    -fx-background-color: transparent;
}

#btnUpdateProfile{
    -fx-opacity: 1.0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*cus history*/
#btnPending, #btnOngoing, #btnEnded{
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #000000;
    -fx-border-radius: 8px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#btnPending:focused, #btnOngoing:focused, #btnEnded:focused{
    -fx-background-color: #000000;
    -fx-background-radius: 8px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#scrollHistory > .viewport{
    -fx-background-color: #ffffff;
}